[Desktop Entry]
Type=Application
Terminal=true
Name=kalan-update
Icon=/usr/share/icons/Faenza/actions/48/package-upgrade.png
Exec=~/kalan/src/kalan-update.sh
