/*Rounded Corners*/
/*top-left rounded Corners*/
.jqx-rc-tl-dit_jqwidgets {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}
/*top-right rounded Corners*/
.jqx-rc-tr-dit_jqwidgets {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
/*bottom-left rounded Corners*/
.jqx-rc-bl-dit_jqwidgets {
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
/*bottom-right rounded Corners*/
.jqx-rc-br-dit_jqwidgets {
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*top rounded Corners*/
.jqx-rc-t-dit_jqwidgets {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
/*bottom rounded Corners*/
.jqx-rc-b-dit_jqwidgets {
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*right rounded Corners*/
.jqx-rc-r-dit_jqwidgets {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*left rounded Corners*/
.jqx-rc-l-dit_jqwidgets {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
/*all rounded Corners*/
.jqx-rc-all-dit_jqwidgets {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.jqx-widget-dit_jqwidgets, .jqx-widget-content, .jqx-widget-header, .jqx-input-dit_jqwidgets {
    -webkit-transition: box-shadow linear 0.2s;
     -moz-transition: box-shadow linear 0.2s;
       -o-transition: box-shadow linear 0.2s;
          transition: box-shadow linear 0.2s;
}
.jqx-listitem-state-normal-dit_jqwidgets, .jqx-listitem-state-hover-dit_jqwidgets,.jqx-listitem-state-selected-dit_jqwidgets,
.jqx-tabs-title-selected-top-dit_jqwidgets, .jqx-tabs-title-selected-bottom-dit_jqwidgets{
    -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;   
}
.jqx-fill-state-normal-dit_jqwidgets {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
}

.jqx-widget-header-dit_jqwidgets, .jqx-fill-state-normal-dit_jqwidgets {
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
    color: #444;
    background-color: #f0f0f0;
    background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -moz-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -o-linear-gradient(#ededed, #ededed 38%, #dedede);
    -webkit-transition: color 200ms;
}
.jqx-widget-content-dit_jqwidgets {
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
}
.jqx-fill-state-hover-dit_jqwidgets {
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.3);
    color: black;
    background-color: #f0f0f0;
    background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -moz-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -o-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -webkit-transition: color 200ms;
}

.jqx-fill-state-pressed-dit_jqwidgets {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
    background-color: #f0f0f0;
    background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -moz-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -o-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    -webkit-transition: color 200ms;
}

.jqx-grid-column-menubutton-dit_jqwidgets {
    background-color: transparent;
}

.jqx-calendar-row-header-dit_jqwidgets, .jqx-calendar-top-left-header-dit_jqwidgets {
    background-color: #f0f0f0;
    border: 0px solid #f2f2f2;
}

.jqx-calendar-column-header-dit_jqwidgets {
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
}

.jqx-scrollbar-state-normal-dit_jqwidgets {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}
.jqx-grid-cell-hover-dit_jqwidgets {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.jqx-scrollbar-thumb-state-normal-dit_jqwidgets {
    background-color: #f0f0f0;
    background-image: linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -webkit-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -moz-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -o-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -ms-linear-gradient(left, #ededed, #ededed 38%, #dedede);
}

.jqx-scrollbar-thumb-state-hover-dit_jqwidgets {
    background-color: #f0f0f0;
    background-image: linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -webkit-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -moz-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -o-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -ms-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
}
.jqx-splitter-collapse-button-vertical-dit_jqwidgets, .jqx-splitter-collapse-button-horizontal-dit_jqwidgets {
    background: #b2b2b2;
}
.jqx-scrollbar-thumb-state-pressed-dit_jqwidgets, .jqx-progressbar-value-vertical-dit_jqwidgets{
    background-color: #f0f0f0;
    background-image: linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -webkit-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -moz-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -o-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -ms-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
}

.jqx-grid-column-sortdescbutton-dit_jqwidgets, jqx-grid-column-filterbutton-dit_jqwidgets, .jqx-grid-column-sortascbutton-dit_jqwidgets {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #b2b2b2;
}
.jqx-slider-rangebar-dit_jqwidgets {
    background: #C3C3C3;
}
.jqx-menu-vertical-dit_jqwidgets {
    background: #f5f5f5;
    filter: none;
}

.jqx-checkbox-check-checked-dit_jqwidgets {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}

.jqx-combobox-content-dit_jqwidgets, .jqx-input-dit_jqwidgets {
    border-color: #b2b2b2;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.jqx-combobox-content-dit_jqwidgets {
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
 }
.jqx-fill-state-focus-dit_jqwidgets, .jqx-combobox-content-focus-dit_jqwidgets, .jqx-numberinput-focus-dit_jqwidgets {
    outline: none;
    border-color: #777777;
}
.jqx-dropdownbutton-popup-dit_jqwidgets.jqx-fill-state-focus-dit_jqwidgets {
   
}
.jqx-grid-bottomright-dit_jqwidgets, .jqx-panel-bottomright-dit_jqwidgets, .jqx-listbox-bottomright-dit_jqwidgets {
    background-color: #efefef;
}

.jqx-tabs-title-selected-top-dit_jqwidgets, .jqx-tabs-selection-tracker-top-dit_jqwidgets {
    border-color: #b2b2b2;
    border-bottom: 1px solid #fff;
    text-shadow: 0 1px 0 #f2f2f2;
    filter: none;
    color: #222;
    background: #fff;
}

.jqx-tabs-title-selected-bottom-dit_jqwidgets, .jqx-tabs-selection-tracker-bottom-dit_jqwidgets {
    border-color: #b2b2b2;
    border-top: 1px solid #fff;
    text-shadow: 0 1px 0 #f2f2f2;
    filter: none;
    color: #222;
    background: #fff;
}

.jqx-popup-dit_jqwidgets {
  -webkit-box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
}
.jqx-menu-popup-dit_jqwidgets>div:first-child{
    padding-bottom: 15px !important;
    padding-right: 15px !important;
}
.jqx-menu-popup-clear-dit_jqwidgets>div:first-child{
    padding-bottom: 0px !important;
}
.jqx-window-dit_jqwidgets, .jqx-tooltip-dit_jqwidgets {
  -webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  -moz-box-shadow:  0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}
.jqx-docking-dit_jqwidgets .jqx-window-dit_jqwidgets {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.jqx-docking-panel-dit_jqwidgets .jqx-window-dit_jqwidgets {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jqx-radiobutton-dit_jqwidgets {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background: none;
}
.jqx-radiobutton-dit_jqwidgets-dit_jqwidgets, .jqx-radiobutton-hover-dit_jqwidgets {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}
.jqx-radiobutton-check-checked-dit_jqwidgets {
    filter: none;
    background: #666;
    background-repeat: no-repeat;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-radiobutton-check-indeterminate-dit_jqwidgets {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-radiobutton-check-indeterminate-disabled-dit_jqwidgets {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-slider-track-horizontal-dit_jqwidgets, .jqx-slider-track-vertical-dit_jqwidgets {
    border-color: #b2b2b2;
    background: #f0f0f0;
}
.jqx-slider-button-dit_jqwidgets
{
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%; 
}
.jqx-widget-dit_jqwidgets
{
  font-family: Verdana;
}
.jqx-widget-content-dit_jqwidgets
{
  color: #3F3F3F;
  text-shadow: none;
  border-color: #FFFFFF;
  background: #FFFFFF;
  font-family: Verdana;
}
.jqx-widget-header-dit_jqwidgets, .jqx-grid-dit_jqwidgets .jqx-widget-header-dit_jqwidgets
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #295293;
  background-color: #295293;
  background-image: -moz-linear-gradient(top, #295293, #295293);
  background-image: -ms-linear-gradient(top, #295293, #295293);
  background-image: -o-linear-gradient(top, #295293, #295293);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#295293), to(#295293));
  background-image: -webkit-linear-gradient(top, #295293, #295293);
  background-image: linear-gradient(top, #295293, #295293);
  background-image: linear-gradient(to bottom, #295293, #295293);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton-dit_jqwidgets, .jqx-widget-dit_jqwidgets.jqx-grid-column-menubutton-dit_jqwidgets
{
  border-color: #295293;
}
.jqx-grid-cell-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-dit_jqwidgets
{
  background-color: #FFFFFF;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-dit_jqwidgets
{
  color: #000000;
  text-shadow: none;
  border-color: #EDEDED;
  background-color: #EDEDED;
  background-image: -moz-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: -ms-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: -o-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#EDEDED), to(#EDEDED));
  background-image: -webkit-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: linear-gradient(top, #EDEDED, #EDEDED);
  background-image: linear-gradient(to bottom, #EDEDED, #EDEDED);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-dit_jqwidgets
{
  color: #363F47;
  text-shadow: none;
  border-color: #DDDDDD;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -ms-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -o-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DDDDDD), to(#DDDDDD));
  background-image: -webkit-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(to bottom, #DDDDDD, #DDDDDD);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-dit_jqwidgets
{
  border-color: #EDEDED;
  background-color: #EDEDED;
}
.jqx-widget-dit_jqwidgets .jqx-grid-cell-sort-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-filter-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-pinned-dit_jqwidgets, .jqx-grid-cell-sort-dit_jqwidgets, .jqx-grid-cell-filter-dit_jqwidgets, .jqx-grid-cell-pinned-dit_jqwidgets
{
  background-color: #FFFFFF;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-dit_jqwidgets .jqx-grid-cell-alt-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-sort-alt-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-pinned-alt-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-filter-alt-dit_jqwidgets, .jqx-grid-cell-alt-dit_jqwidgets, .jqx-grid-cell-sort-alt-dit_jqwidgets, .jqx-grid-cell-filter-alt-dit_jqwidgets
{
  background-color: #F2F2F2;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-hover-dit_jqwidgets
{
  color: #000000;
  text-shadow: none;
  border-color: #D6D6D6;
  background-color: #D6D6D6;
  background-image: -moz-linear-gradient(top, #D6D6D6, #D6D6D6);
  background-image: -ms-linear-gradient(top, #D6D6D6, #D6D6D6);
  background-image: -o-linear-gradient(top, #D6D6D6, #D6D6D6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#D6D6D6), to(#D6D6D6));
  background-image: -webkit-linear-gradient(top, #D6D6D6, #D6D6D6);
  background-image: linear-gradient(top, #D6D6D6, #D6D6D6);
  background-image: linear-gradient(to bottom, #D6D6D6, #D6D6D6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-selected-dit_jqwidgets
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #8B9E66;
  background-color: #8B9E66;
  background-image: -moz-linear-gradient(top, #8B9E66, #8B9E66);
  background-image: -ms-linear-gradient(top, #8B9E66, #8B9E66);
  background-image: -o-linear-gradient(top, #8B9E66, #8B9E66);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#8B9E66), to(#8B9E66));
  background-image: -webkit-linear-gradient(top, #8B9E66, #8B9E66);
  background-image: linear-gradient(top, #8B9E66, #8B9E66);
  background-image: linear-gradient(to bottom, #8B9E66, #8B9E66);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-dit_jqwidgets
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #8B9E66;
  background-color: #8B9E66;
  background-image: -moz-linear-gradient(top, #8B9E66, #8B9E66);
  background-image: -ms-linear-gradient(top, #8B9E66, #8B9E66);
  background-image: -o-linear-gradient(top, #8B9E66, #8B9E66);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#8B9E66), to(#8B9E66));
  background-image: -webkit-linear-gradient(top, #8B9E66, #8B9E66);
  background-image: linear-gradient(top, #8B9E66, #8B9E66);
  background-image: linear-gradient(to bottom, #8B9E66, #8B9E66);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-dit_jqwidgets, .jqx-tabs-selection-tracker-top-dit_jqwidgets
{
  color: #3F3F3F;
  text-shadow: none;
  border-color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-image: none ;
  background-color: #FFFFFF;
}
.jqx-tabs-title-selected-bottom-dit_jqwidgets, .jqx-tabs-selection-tracker-bottom-dit_jqwidgets
{
  color: #3F3F3F;
  text-shadow: none;
  border-color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  background-image: none ;
  background-color: #FFFFFF;
}
.jqx-splitter-splitbar-hover-dit_jqwidgets
{
  background: #D6D6D6;
}
.jqx-splitter-splitbar-vertical-dit_jqwidgets, .jqx-splitter-splitbar-horizontal-dit_jqwidgets, .jqx-slider-track-horizontal-dit_jqwidgets, .jqx-slider-track-vertical-dit_jqwidgets
{
  background: #EDEDED;
}
.jqx-splitter-collapse-button-horizontal-dit_jqwidgets, .jqx-splitter-collapse-button-vertical-dit_jqwidgets, .jqx-slider-rangebar-dit_jqwidgets
{
  background: #8B9E66;
}
.jqx-scrollbar-state-normal-dit_jqwidgets
{
  background-color: #FCFCFC;
  border-color: #FCFCFC;
}
.jqx-grid-bottomright-dit_jqwidgets, .jqx-panel-bottomright-dit_jqwidgets, .jqx-listbox-bottomright-dit_jqwidgets
{
  background-color: #FCFCFC;
}
.jqx-scrollbar-thumb-state-normal-dit_jqwidgets
{
  background-color: #DDDDDD;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(left, #DDDDDD, #DDDDDD);
  background-image: -ms-linear-gradient(left, #DDDDDD, #DDDDDD);
  background-image: -o-linear-gradient(left, #DDDDDD, #DDDDDD);
  background-image: -webkit-gradient(linear, left top, right top, from(#DDDDDD), to(#DDDDDD));
  background-image: -webkit-linear-gradient(left, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(left, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(left right, #DDDDDD, #DDDDDD);
}
.jqx-scrollbar-thumb-state-normal-horizontal-dit_jqwidgets
{
  background-color: #DDDDDD;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -ms-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -o-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DDDDDD), to(#DDDDDD));
  background-image: -webkit-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(to bottom, #DDDDDD, #DDDDDD);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-dit_jqwidgets
{
  background-color: #B2B2B2;
  border-color: #B2B2B2;
  background-image: -moz-linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: -ms-linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: -o-linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: -webkit-gradient(linear, left top, right top, from(#B2B2B2), to(#B2B2B2));
  background-image: -webkit-linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: linear-gradient(left right, #B2B2B2, #B2B2B2);
}
.jqx-scrollbar-thumb-state-hover-horizontal-dit_jqwidgets
{
  background-color: #B2B2B2;
  border-color: #B2B2B2;
  background-image: -moz-linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: -ms-linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: -o-linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#B2B2B2), to(#B2B2B2));
  background-image: -webkit-linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: linear-gradient(to bottom, #B2B2B2, #B2B2B2);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-dit_jqwidgets
{
  background-color: #B2B2B2;
  border-color: #B2B2B2;
  background-image: -moz-linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: -ms-linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: -o-linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: -webkit-gradient(linear, left top, right top, from(#B2B2B2), to(#B2B2B2));
  background-image: -webkit-linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: linear-gradient(left, #B2B2B2, #B2B2B2);
  background-image: linear-gradient(left right, #B2B2B2, #B2B2B2);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-dit_jqwidgets
{
  background-color: #B2B2B2;
  border-color: #B2B2B2;
  background-image: -moz-linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: -ms-linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: -o-linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#B2B2B2), to(#B2B2B2));
  background-image: -webkit-linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: linear-gradient(top, #B2B2B2, #B2B2B2);
  background-image: linear-gradient(to bottom, #B2B2B2, #B2B2B2);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-dit_jqwidgets
{
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -ms-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -o-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DDDDDD), to(#DDDDDD));
  background-image: -webkit-linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(top, #DDDDDD, #DDDDDD);
  background-image: linear-gradient(to bottom, #DDDDDD, #DDDDDD);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-dit_jqwidgets
{
  background-color: #f0f0f0;
  border-color: #b2b2b2;
  background-image: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-dit_jqwidgets
{
  background-color: #e7e7e7;
  border-color: #b2b2b2;
  background-image: -moz-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -ms-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -o-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e7e7e7), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-dit_jqwidgets
{
  background: #295293;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-dit_jqwidgets
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px;
  border-radius-topleft: 5px;
}
.jqx-rc-tr-dit_jqwidgets
{
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  border-radius-topright: 5px;
}
.jqx-rc-bl-dit_jqwidgets
{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  border-radius-bottomleft: 5px;
}
.jqx-rc-br-dit_jqwidgets
{
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
  border-radius-bottomright: 5px;
}
.jqx-rc-t-dit_jqwidgets
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.jqx-rc-b-dit_jqwidgets
{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jqx-rc-r-dit_jqwidgets
{
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jqx-rc-l-dit_jqwidgets
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.jqx-radiobutton-default-dit_jqwidgets, .jqx-radiobutton-dit_jqwidgets, .jqx-radiobutton-check-checked-dit_jqwidgets, .jqx-radiobutton-hover-dit_jqwidgets, .jqx-radiobutton-check-indeterminate-dit_jqwidgets, .jqx-radiobutton-check-indeterminate-disabled-dit_jqwidgets, .jqx-slider-button-dit_jqwidgets
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-dit_jqwidgets, .jqx-tooltip-dit_jqwidgets, .jqx-tooltip-text-dit_jqwidgets, .jqx-tooltip-main-dit_jqwidgets
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.jqx-grid-column-sortascbutton-dit_jqwidgets, .jqx-expander-arrow-bottom-dit_jqwidgets, .jqx-window-collapse-button-dit_jqwidgets, .jqx-menu-item-arrow-up-dit_jqwidgets, .jqx-menu-item-arrow-top-up-dit_jqwidgets, .jqx-icon-arrow-up-dit_jqwidgets
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-dit_jqwidgets
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-dit_jqwidgets, .jqx-icon-arrow-up-selected-dit_jqwidgets.jqx-expander-arrow-expanded-dit_jqwidgets
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-dit_jqwidgets, .jqx-grid-column-sortdescbutton-dit_jqwidgets, .jqx-expander-arrow-top-dit_jqwidgets, .jqx-window-collapse-button-collapsed-dit_jqwidgets, .jqx-menu-item-arrow-down-dit_jqwidgets, .jqx-menu-item-arrow-down-dit_jqwidgets, .jqx-tree-item-arrow-expand-dit_jqwidgets, .jqx-grid-group-expand-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-group-expand-dit_jqwidgets, .jqx-icon-arrow-down-dit_jqwidgets
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-dit_jqwidgets
{
  background-image: url('images/icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-dit_jqwidgets, .jqx-icon-arrow-down-selected-dit_jqwidgets
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-dit_jqwidgets, .jqx-menu-item-arrow-top-left-dit_jqwidgets, .jqx-grid-group-collapse-rtl-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-group-collapse-rtl-dit_jqwidgets, .jqx-icon-arrow-left-dit_jqwidgets, .jqx-icon-arrow-down-left-dit_jqwidgets
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-dit_jqwidgets
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-dit_jqwidgets
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-dit_jqwidgets, .jqx-icon-arrow-left-selected-dit_jqwidgets
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-dit_jqwidgets, .jqx-menu-item-arrow-top-right-dit_jqwidgets, .jqx-menu-item-arrow-collapse-dit_jqwidgets, .jqx-grid-group-collapse-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-group-collapse-dit_jqwidgets, .jqx-icon-arrow-right-dit_jqwidgets
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-dit_jqwidgets
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-dit_jqwidgets, .jqx-icon-arrow-right-selected-dit_jqwidgets
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-dit_jqwidgets, .jqx-tabs-close-button-dit_jqwidgets, .icon-close-dit_jqwidgets
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-dit_jqwidgets
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-dit_jqwidgets
{
  background-image: url('images/close_white.png');
}
.jqx-widget-dit_jqwidgets .jqx-grid-column-header-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-cell-dit_jqwidgets, .jqx-widget-dit_jqwidgets .jqx-grid-group-cell-dit_jqwidgets, .jqx-grid-cell-dit_jqwidgets
{
  border-color: #F4F4F4;
}
.jqx-checkbox-check-checked-dit_jqwidgets
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-dit_jqwidgets
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-dit_jqwidgets, .jqx-tooltip-main-dit_jqwidgets
{
  color: #000000;
  text-shadow: none;
  border-color: #b2b2b2;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #ededed, #dedede);
  background-image: -ms-linear-gradient(top, #ededed, #dedede);
  background-image: -o-linear-gradient(top, #ededed, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(to bottom, #ededed, #dedede);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-combobox-content-dit_jqwidgets, .jqx-input-dit_jqwidgets
{
  color: #000000;
  text-shadow: none;
  border-color: #b2b2b2;
  background-color: #ffffff;
}
.jqx-combobox-input-dit_jqwidgets
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content-dit_jqwidgets
{
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-dit_jqwidgets, .jqx-popup-dit_jqwidgets .jqx-fill-state-focus-dit_jqwidgets
{
  border-color: #295293;
}
.jqx-popup-dit_jqwidgets.jqx-listbox-dit_jqwidgets, .jqx-popup-dit_jqwidgets.jqx-calendar-dit_jqwidgets,.jqx-menu-dropdown-dit_jqwidgets,  .jqx-popup-dit_jqwidgets.jqx-dropdownbutton-popup-dit_jqwidgets
{
  color: #000000;
  text-shadow: none;
  border-color: #EAEAEA;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-dit_jqwidgets, .jqx-tree-item-arrow-collapse-dit_jqwidgets
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-dit_jqwidgets
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-dit_jqwidgets
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-up-dit_jqwidgets
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-left-dit_jqwidgets
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-right-dit_jqwidgets
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-bottom-dit_jqwidgets
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-up-hover-dit_jqwidgets
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-left-hover-dit_jqwidgets
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-right-hover-dit_jqwidgets
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-bottom-hover-dit_jqwidgets
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-up-selected-dit_jqwidgets
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-left-selected-dit_jqwidgets
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-right-selected-dit_jqwidgets
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-dit_jqwidgets .jqx-icon-arrow-bottom-selected-dit_jqwidgets
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-dit_jqwidgets .jqx-icon-arrow-up-dit_jqwidgets, .jqx-tabs-header-dit_jqwidgets .jqx-icon-arrow-up-dit_jqwidgets
{
}
.jqx-calendar-dit_jqwidgets .jqx-icon-arrow-left-dit_jqwidgets, .jqx-tabs-header-dit_jqwidgets .jqx-icon-arrow-left-dit_jqwidgets
{
}
.jqx-calendar-dit_jqwidgets .jqx-icon-arrow-right-dit_jqwidgets, .jqx-tabs-header-dit_jqwidgets .jqx-icon-arrow-right-dit_jqwidgets
{
}
.jqx-calendar-dit_jqwidgets .jqx-icon-arrow-bottom-dit_jqwidgets, .jqx-tabs-header-dit_jqwidgets .jqx-icon-arrow-bottom-dit_jqwidgets
{
}
.jqx-widget-dit_jqwidgets .jqx-grid-cell-dit_jqwidgets, .jqx-listitem-state-normal-dit_jqwidgets, .jqx-menu-item-normal-dit_jqwidgets, .jqx-tree-item-normal-dit_jqwidgets, .jqx-calendar-cell-dit_jqwidgets, .jqx-grid-cell-dit_jqwidgets,.jqx-menu-vertical-dit_jqwidgets .jqx-menu-item-top-normal-dit_jqwidgets, .jqx-input-popup-dit_jqwidgets .jqx-fill-state-normal-dit_jqwidgets
{
  font-family: Verdana;
}
.jqx-widget-dit_jqwidgets .jqx-grid-cell-hover-dit_jqwidgets, .jqx-listitem-state-hover-dit_jqwidgets, .jqx-menu-item-hover-dit_jqwidgets, .jqx-tree-item-hover-dit_jqwidgets, .jqx-calendar-cell-hover-dit_jqwidgets, .jqx-grid-cell-hover-dit_jqwidgets,.jqx-menu-vertical-dit_jqwidgets .jqx-menu-item-top-hover-dit_jqwidgets, .jqx-input-popup-dit_jqwidgets .jqx-fill-state-hover-dit_jqwidgets,.jqx-input-button-header-dit_jqwidgets, .jqx-input-popup-dit_jqwidgets .jqx-fill-state-pressed-dit_jqwidgets,.jqx-input-button-header-dit_jqwidgets
{
  font-family: Verdana;
}
.jqx-widget-dit_jqwidgets  .jqx-grid-cell-selected-dit_jqwidgets, .jqx-listitem-state-selected-dit_jqwidgets, .jqx-menu-item-selected-dit_jqwidgets, .jqx-tree-item-selected-dit_jqwidgets, .jqx-calendar-cell-selected-dit_jqwidgets, .jqx-grid-cell-selected-dit_jqwidgets,.jqx-menu-vertical-dit_jqwidgets .jqx-menu-item-top-selected-dit_jqwidgets, .jqx-grid-selectionarea-dit_jqwidgets
{
  font-family: Verdana;
}
.jqx-icon-calendar-dit_jqwidgets
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-dit_jqwidgets
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-dit_jqwidgets
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-dit_jqwidgets
{
  background-image: url('images/icon-first.png');

}
.jqx-icon-first-hover-dit_jqwidgets
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-selected-dit_jqwidgets
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-dit_jqwidgets
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-dit_jqwidgets
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-selected-dit_jqwidgets
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-dit_jqwidgets>.jqx-grid-group-expand-dit_jqwidgets
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-hover-dit_jqwidgets>.jqx-grid-group-expand-dit_jqwidgets
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-selected-dit_jqwidgets>.jqx-grid-group-expand-dit_jqwidgets
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-dit_jqwidgets>.jqx-grid-group-collapse-dit_jqwidgets
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-hover-dit_jqwidgets>.jqx-grid-group-collapse-dit_jqwidgets
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-selected-dit_jqwidgets>.jqx-grid-group-collapse-dit_jqwidgets
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-dit_jqwidgets>.jqx-grid-group-expand-rtl-dit_jqwidgets
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-hover-dit_jqwidgets>.jqx-grid-group-expand-rtl-dit_jqwidgets
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-selected-dit_jqwidgets>.jqx-grid-group-expand-rtl-dit_jqwidgets
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-dit_jqwidgets>.jqx-grid-group-collapse-rtl-dit_jqwidgets
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-hover-dit_jqwidgets>.jqx-grid-group-collapse-rtl-dit_jqwidgets
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-dit_jqwidgets.jqx-grid-cell-selected-dit_jqwidgets>.jqx-grid-group-collapse-rtl-dit_jqwidgets
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-dit_jqwidgets, .jqx-grid-column-sortdescbutton-dit_jqwidgets
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-column-sortascbutton-dit_jqwidgets
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-delete-dit_jqwidgets
{
  background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-dit_jqwidgets
{
  background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-dit_jqwidgets
{
  background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-dit_jqwidgets
{
  background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-dit_jqwidgets
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-dit_jqwidgets
{
  background-image: url('images/icon-plus_white.png');
}
