.jqx-rc-tl-dit_jq_azulnegro
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-dit_jq_azulnegro
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-dit_jq_azulnegro
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-dit_jq_azulnegro
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-dit_jq_azulnegro
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-dit_jq_azulnegro
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-dit_jq_azulnegro
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-dit_jq_azulnegro
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-dit_jq_azulnegro
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-dit_jq_azulnegro {
    font-size: 12px; line-height: 17px;
    font-family: 'segoe ui', arial, sans-serif;
    color: inherit;
}
.jqx-widget-content-dit_jq_azulnegro{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background-color: #252526;}
.jqx-widget-header-dit_jq_azulnegro{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; color: #ffffff; border-color:#35353A; background-color:#3E3E42;}
.jqx-fill-state-normal-dit_jq_azulnegro{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-fill-state-hover-dit_jq_azulnegro{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color:#1C97EA; color: #fff; background-color:#1C97EA;

}
.jqx-fill-state-focus-dit_jq_azulnegro { border-color: #000; }
.jqx-fill-state-pressed-dit_jq_azulnegro{border-color:#007ACC; color: #fff; background-color:#007ACC;

}
.jqx-fill-state-disabled-dit_jq_azulnegro {
    color: #898989;
}
.jqx-input-dit_jq_azulnegro {
    border-color: #35353A;
}
.jqx-scrollbar-state-normal-dit_jq_azulnegro, .jqx-grid-bottomright-dit_jq_azulnegro, .jqx-panel-bottomright-dit_jq_azulnegro, .jqx-listbox-bottomright-dit_jq_azulnegro{background-color:#3E3E42;}
.jqx-widget-dit_jq_azulnegro .jqx-grid-column-header-dit_jq_azulnegro, .jqx-grid-cell-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-group-cell-dit_jq_azulnegro, .jqx-grid-group-cell-dit_jq_azulnegro{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #1C1C1E; background-color: #2A2A2C; color: #fff;}
.jqx-tabs-title-selected-bottom-dit_jq_azulnegro, .jqx-tabs-selection-tracker-bottom-dit_jq_azulnegro, .jqx-tabs-title-selected-top-dit_jq_azulnegro, .jqx-tabs-selection-tracker-top-dit_jq_azulnegro{color: #ffffff; border-color:#35353A; border-bottom:1px solid #252526; background:#007ACC}
.jqx-widget-dit_jq_azulnegro .jqx-grid-cell-alt-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-sort-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-pinned-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-filter-dit_jq_azulnegro, .jqx-grid-cell-sort-alt-dit_jq_azulnegro, .jqx-grid-cell-filter-alt-dit_jq_azulnegro, .jqx-grid-cell-pinned-dit_jq_azulnegro, .jqx-grid-cell-alt-dit_jq_azulnegro, .jqx-grid-cell-sort-dit_jq_azulnegro{ background-color:#3E3E42; color: #fff;}
.jqx-menu-vertical-dit_jq_azulnegro{background: #3E3E42; border-color: #3E3E42;}
.jqx-widget-dit_jq_azulnegro .jqx-grid-cell-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-column-header-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-group-cell-dit_jq_azulnegro { border-color: #35353A;}

.jqx-widget-dit_jq_azulnegro .jqx-grid-column-menubutton-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-column-sortascbutton-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-column-sortdescbutton-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-column-filterbutton-dit_jq_azulnegro {
    background-color: transparent;
    border-color: #35353A;
}
.jqx-window-header-dit_jq_azulnegro, .jqx-input-button-header-dit_jq_azulnegro, .jqx-calendar-title-header-dit_jq_azulnegro, .jqx-grid-dit_jq_azulnegro .jqx-widget-header-dit_jq_azulnegro, .jqx-grid-header-dit_jq_azulnegro, .jqx-grid-column-header-dit_jq_azulnegro {font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-grid-column-menubutton-dit_jq_azulnegro {
    background-image: url('images/metro-icon-down-white.png');
 }
.jqx-widget-dit_jq_azulnegro .jqx-grid-cell-selected-dit_jq_azulnegro, .jqx-grid-cell-selected-dit_jq_azulnegro{ background-color:#007ACC; border-color: #007ACC; font-size: 12px;  color:#fff;}
.jqx-widget-dit_jq_azulnegro .jqx-grid-cell-hover-dit_jq_azulnegro, .jqx-grid-cell-hover-dit_jq_azulnegro{ background-color:#1C97EA; border-color: #1C97EA;}
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-dit_jq_azulnegro {
    background-image: url('images/metro-icon-up-white.png');
 }
.jqx-grid-column-sortdescbutton-dit_jq_azulnegro {
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-checkbox-check-checked-dit_jq_azulnegro{background:transparent url(images/check_white.png) center center no-repeat}
.jqx-checkbox-check-indeterminate-dit_jq_azulnegro{background:transparent url(images/check_indeterminate_white.png) center center no-repeat}
.jqx-checkbox-hover-dit_jq_azulnegro, .jqx-radiobutton-hover-dit_jq_azulnegro {
    background-color: #3E3E42;
    border-color: #3E3E42;
}
.jqx-radiobutton-check-checked-dit_jq_azulnegro {
    background: #fff;
    border-color: #fff;
}

.jqx-scrollbar-thumb-state-normal-horizontal-dit_jq_azulnegro, .jqx-scrollbar-thumb-state-normal-dit_jq_azulnegro {
    background: #686868; border-color: #686868;
}
.jqx-scrollbar-thumb-state-hover-horizontal-dit_jq_azulnegro, .jqx-scrollbar-thumb-state-hover-dit_jq_azulnegro {
    background: #9E9E9E; border-color: #9E9E9E;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-dit_jq_azulnegro, .jqx-scrollbar-thumb-state-pressed-dit_jq_azulnegro {
    background: #ffffff; border-color: #ffffff;
}
.jqx-scrollbar-button-state-normal-dit_jq_azulnegro
{
    border: 1px solid #3E3E42; 
    background: #3E3E42;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-dit_jq_azulnegro
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-dit_jq_azulnegro
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}

/*icons*/
.jqx-window-collapse-button-dit_jq_azulnegro
{
    background-image: url(images/metro-icon-up-white.png);
}
.jqx-window-collapse-button-collapsed-dit_jq_azulnegro {
  background-image: url(images/metro-icon-down-white.png);
}
.jqx-icon-arrow-up-dit_jq_azulnegro, .jqx-expander-arrow-bottom-dit_jq_azulnegro, .jqx-menu-item-arrow-up-dit_jq_azulnegro
{
    background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-down-dit_jq_azulnegro, .jqx-expander-arrow-top-dit_jq_azulnegro, .jqx-tree-item-arrow-expand-dit_jq_azulnegro, .jqx-tree-item-arrow-expand-hover-dit_jq_azulnegro, .jqx-menu-item-arrow-down-dit_jq_azulnegro
{
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-left-dit_jq_azulnegro, .jqx-menu-item-arrow-left-dit_jq_azulnegro
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-right-dit_jq_azulnegro, .jqx-menu-item-arrow-right-dit_jq_azulnegro, .jqx-tree-item-arrow-collapse-dit_jq_azulnegro, .jqx-tree-item-arrow-collapse-hover-dit_jq_azulnegro
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-tabs-arrow-left-dit_jq_azulnegro, .jqx-tree-item-arrow-collapse-rtl-dit_jq_azulnegro, .jqx-tree-item-arrow-collapse-hover-rtl-dit_jq_azulnegro
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-dit_jq_azulnegro
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-up-selected-dit_jq_azulnegro, .jqx-icon-arrow-up-selected-dit_jq_azulnegro{background-image:url('images/metro-icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-dit_jq_azulnegro, .jqx-icon-arrow-down-selected-dit_jq_azulnegro{background-image:url('images/metro-icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-dit_jq_azulnegro, .jqx-icon-arrow-left-selected-dit_jq_azulnegro{background-image:url('images/metro-icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-dit_jq_azulnegro, .jqx-icon-arrow-right-selected-dit_jq_azulnegro{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-window-close-button-dit_jq_azulnegro, .jqx-icon-close-dit_jq_azulnegro, .jqx-tabs-close-button-dit_jq_azulnegro, .jqx-tabs-close-button-hover-dit_jq_azulnegro, .jqx-tabs-close-button-selected-dit_jq_azulnegro{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-listbox-feedback-dit_jq_azulnegro {
    border-top: 1px dashed #fff;
}

.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-up-selected-dit_jq_azulnegro{background-image:url('images/metro-icon-up-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-down-selected-dit_jq_azulnegro{background-image:url('images/metro-icon-down-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-left-selected-dit_jq_azulnegro{background-image:url('images/metro-icon-left-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-right-selected-dit_jq_azulnegro{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-button-dit_jq_azulnegro
{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.jqx-input-button-content-dit_jq_azulnegro
{  
    font-size: 10px;
}
.jqx-dropdownlist-state-normal-dit_jq_azulnegro, .jqx-dropdownlist-state-hover-dit_jq_azulnegro, .jqx-dropdownlist-state-selected-dit_jq_azulnegro,
.jqx-scrollbar-button-state-hover-dit_jq_azulnegro, .jqx-scrollbar-button-state-normal-dit_jq_azulnegro, .jqx-scrollbar-button-state-pressed-dit_jq_azulnegro,
.jqx-scrollbar-thumb-state-normal-horizontal-dit_jq_azulnegro, .jqx-scrollbar-thumb-state-hover-horizontal-dit_jq_azulnegro, .jqx-scrollbar-thumb-state-pressed-horizontal-dit_jq_azulnegro,
.jqx-scrollbar-thumb-state-normal-dit_jq_azulnegro, .jqx-scrollbar-thumb-state-pressed-dit_jq_azulnegro, .jqx-button-dit_jq_azulnegro, .jqx-tree-item-hover-dit_jq_azulnegro, .jqx-tree-item-selected-dit_jq_azulnegro,
.jqx-tree-item-dit_jq_azulnegro, .jqx-menu-item-dit_jq_azulnegro, .jqx-menu-item-hover-dit_jq_azulnegro, .jqx-menu-item-selected-dit_jq_azulnegro, .jqx-menu-item-top-dit_jq_azulnegro, .jqx-menu-item-top-hover-dit_jq_azulnegro, 
.jqx-menu-item-top-selected-dit_jq_azulnegro, .jqx-slider-button-dit_jq_azulnegro, .jqx-slider-slider-dit_jq_azulnegro
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-dit_jq_azulnegro {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #35353A;
}
.jqx-switchbutton-thumb-dit_jq_azulnegro {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-dit_jq_azulnegro {
    background: #007ACC;
    color: #007ACC;
}
.jqx-switchbutton-label-off-dit_jq_azulnegro {
    background: #a6a6a6;
    color: #a6a6a6;
}

.jqx-switchbutton-wrapper-dit_jq_azulnegro {
}
.jqx-grid-group-collapse-dit_jq_azulnegro {
    background-image: url(images/metro-icon-right-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-dit_jq_azulnegro
{
    padding-right: 0px;
    background-image: url(images/metro-icon-left-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-expand-dit_jq_azulnegro, .jqx-grid-group-expand-rtl-dit_jq_azulnegro
{
    padding-right: 0px;
    background-image: url(images/metro-icon-down-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-icon-arrow-first-dit_jq_azulnegro, .jqx-icon-arrow-first-hover-dit_jq_azulnegro, .jqx-icon-arrow-first-selected-dit_jq_azulnegro
{
    background-image: url('images/metro-icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-dit_jq_azulnegro, .jqx-icon-arrow-last-hover-dit_jq_azulnegro, .jqx-icon-arrow-last-selected-dit_jq_azulnegro
{
    background-image: url('images/metro-icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-selected-dit_jq_azulnegro>.jqx-grid-group-expand-dit_jq_azulnegro,
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-hover-dit_jq_azulnegro>.jqx-grid-group-expand-dit_jq_azulnegro {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-selected-dit_jq_azulnegro>.jqx-grid-group-collapse-dit_jq_azulnegro,
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-hover-dit_jq_azulnegro>.jqx-grid-group-collapse-dit_jq_azulnegro {
    background-image: url('images/metro-icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-selected-dit_jq_azulnegro>.jqx-grid-group-collapse-rtl-dit_jq_azulnegro,
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-hover-dit_jq_azulnegro>.jqx-grid-group-collapse-rtl-dit_jq_azulnegro {
    background-image: url('images/metro-icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-selected-dit_jq_azulnegro>.jqx-grid-group-expand-rtl-dit_jq_azulnegro,
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-hover-dit_jq_azulnegro>.jqx-grid-group-expand-rtl-dit_jq_azulnegro {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-expand-button-dit_jq_azulnegro {
    margin-top: 3px;
}
.jqx-icon-search-dit_jq_azulnegro
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-passwordinput-password-icon-dit_jq_azulnegro, .jqx-passwordinput-password-icon-rtl-dit_jq_azulnegro
{
    background-image: url(images/icon-showpassword-white.png) !important;
    background-repeat: no-repeat !important;
}
.jqx-icon-calendar-dit_jq_azulnegro, .jqx-icon-calendar-hover-dit_jq_azulnegro, .jqx-icon-calendar-pressed-dit_jq_azulnegro {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-delete-dit_jq_azulnegro
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-dit_jq_azulnegro
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-dit_jq_azulnegro
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-dit_jq_azulnegro
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-dit_jq_azulnegro
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-dit_jq_azulnegro
{
    background-image: url(images/plus_white.png);
}
.jqx-menu-minimized-button-dit_jq_azulnegro {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-widget-dit_jq_azulnegro
{
  font-family: Segoe UI;
}
.jqx-widget-content-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background: #252526;
  font-family: Segoe UI;
}
.jqx-widget-header-dit_jq_azulnegro, .jqx-grid-dit_jq_azulnegro .jqx-widget-header-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-column-menubutton-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro.jqx-grid-column-menubutton-dit_jq_azulnegro
{
  border-color: #35353A;
}
.jqx-grid-cell-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-dit_jq_azulnegro
{
  background-color: #252526;
  color: #ffffff;
  text-shadow: none;
}
.jqx-fill-state-normal-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-button-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #284272;
  background-color: #315496;
  background-image: -moz-linear-gradient(top, #315496, #284272);
  background-image: -ms-linear-gradient(top, #315496, #284272);
  background-image: -o-linear-gradient(top, #315496, #284272);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#315496), to(#284272));
  background-image: -webkit-linear-gradient(top, #315496, #284272);
  background-image: linear-gradient(top, #315496, #284272);
  background-image: linear-gradient(to bottom, #315496, #284272);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-selectionarea-dit_jq_azulnegro
{
  border-color: #35353A;
  background-color: #3E3E42;
}
.jqx-widget-dit_jq_azulnegro .jqx-grid-cell-sort-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-filter-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-pinned-dit_jq_azulnegro, .jqx-grid-cell-sort-dit_jq_azulnegro, .jqx-grid-cell-filter-dit_jq_azulnegro, .jqx-grid-cell-pinned-dit_jq_azulnegro
{
  background-color: #3E3E42;
  color: #ffffff;
  text-shadow: none;
}
.jqx-widget-dit_jq_azulnegro .jqx-grid-cell-alt-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-sort-alt-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-pinned-alt-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-filter-alt-dit_jq_azulnegro, .jqx-grid-cell-alt-dit_jq_azulnegro, .jqx-grid-cell-sort-alt-dit_jq_azulnegro, .jqx-grid-cell-filter-alt-dit_jq_azulnegro
{
  background-color: #3E3E42;
  color: #ffffff;
  text-shadow: none;
}
.jqx-fill-state-hover-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-hover-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #000000;
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#000000));
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-fill-state-pressed-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-selected-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #315496;
  background-color: #315496;
  background-image: -moz-linear-gradient(top, #315496, #315496);
  background-image: -ms-linear-gradient(top, #315496, #315496);
  background-image: -o-linear-gradient(top, #315496, #315496);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#315496), to(#315496));
  background-image: -webkit-linear-gradient(top, #315496, #315496);
  background-image: linear-gradient(top, #315496, #315496);
  background-image: linear-gradient(to bottom, #315496, #315496);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-switchbutton-label-on-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #315496;
  background-color: #315496;
  background-image: -moz-linear-gradient(top, #315496, #315496);
  background-image: -ms-linear-gradient(top, #315496, #315496);
  background-image: -o-linear-gradient(top, #315496, #315496);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#315496), to(#315496));
  background-image: -webkit-linear-gradient(top, #315496, #315496);
  background-image: linear-gradient(top, #315496, #315496);
  background-image: linear-gradient(to bottom, #315496, #315496);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-dit_jq_azulnegro, .jqx-tabs-selection-tracker-top-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  border-bottom: 1px solid #252526;
  background-image: none ;
  background-color: #252526;
}
.jqx-tabs-title-selected-bottom-dit_jq_azulnegro, .jqx-tabs-selection-tracker-bottom-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  border-top: 1px solid #252526;
  background-image: none ;
  background-color: #252526;
}
.jqx-splitter-splitbar-hover-dit_jq_azulnegro
{
  background: #000000;
}
.jqx-splitter-splitbar-vertical-dit_jq_azulnegro, .jqx-splitter-splitbar-horizontal-dit_jq_azulnegro, .jqx-slider-track-horizontal-dit_jq_azulnegro, .jqx-slider-track-vertical-dit_jq_azulnegro
{
  background: #3E3E42;
}
.jqx-splitter-collapse-button-horizontal-dit_jq_azulnegro, .jqx-splitter-collapse-button-vertical-dit_jq_azulnegro, .jqx-slider-rangebar-dit_jq_azulnegro
{
  background: #315496;
}
.jqx-scrollbar-state-normal-dit_jq_azulnegro
{
  background-color: #3E3E42;
  border-color: #3E3E42;
}
.jqx-grid-bottomright-dit_jq_azulnegro, .jqx-panel-bottomright-dit_jq_azulnegro, .jqx-listbox-bottomright-dit_jq_azulnegro
{
  background-color: #3E3E42;
}
.jqx-scrollbar-thumb-state-normal-dit_jq_azulnegro
{
  background-color: #686868;
  background-color: #686868;
  background-image: -moz-linear-gradient(left, #686868, #686868);
  background-image: -ms-linear-gradient(left, #686868, #686868);
  background-image: -o-linear-gradient(left, #686868, #686868);
  background-image: -webkit-gradient(linear, left top, right top, from(#686868), to(#686868));
  background-image: -webkit-linear-gradient(left, #686868, #686868);
  background-image: linear-gradient(left, #686868, #686868);
  background-image: linear-gradient(left right, #686868, #686868);
}
.jqx-scrollbar-thumb-state-normal-horizontal-dit_jq_azulnegro
{
  background-color: #686868;
  background-color: #686868;
  background-image: -moz-linear-gradient(top, #686868, #686868);
  background-image: -ms-linear-gradient(top, #686868, #686868);
  background-image: -o-linear-gradient(top, #686868, #686868);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#686868), to(#686868));
  background-image: -webkit-linear-gradient(top, #686868, #686868);
  background-image: linear-gradient(top, #686868, #686868);
  background-image: linear-gradient(to bottom, #686868, #686868);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-dit_jq_azulnegro
{
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  background-image: -moz-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, left top, right top, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(left right, #9E9E9E, #9E9E9E);
}
.jqx-scrollbar-thumb-state-hover-horizontal-dit_jq_azulnegro
{
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  background-image: -moz-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(to bottom, #9E9E9E, #9E9E9E);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-dit_jq_azulnegro
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-dit_jq_azulnegro
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-dit_jq_azulnegro
{
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-dit_jq_azulnegro
{
  background-color: #3E3E42;
  border-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-dit_jq_azulnegro
{
  background-color: #3E3E42;
  border-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-dit_jq_azulnegro
{
  background: #315496;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-dit_jq_azulnegro
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px;
  border-radius-topleft: 5px;
}
.jqx-rc-tr-dit_jq_azulnegro
{
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  border-radius-topright: 5px;
}
.jqx-rc-bl-dit_jq_azulnegro
{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  border-radius-bottomleft: 5px;
}
.jqx-rc-br-dit_jq_azulnegro
{
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
  border-radius-bottomright: 5px;
}
.jqx-rc-t-dit_jq_azulnegro
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.jqx-rc-b-dit_jq_azulnegro
{
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jqx-rc-r-dit_jq_azulnegro
{
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.jqx-rc-l-dit_jq_azulnegro
{
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.jqx-radiobutton-default-dit_jq_azulnegro, .jqx-radiobutton-dit_jq_azulnegro, .jqx-radiobutton-check-checked-dit_jq_azulnegro, .jqx-radiobutton-hover-dit_jq_azulnegro, .jqx-radiobutton-check-indeterminate-dit_jq_azulnegro, .jqx-radiobutton-check-indeterminate-disabled-dit_jq_azulnegro, .jqx-slider-button-dit_jq_azulnegro
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-dit_jq_azulnegro, .jqx-tooltip-dit_jq_azulnegro, .jqx-tooltip-text-dit_jq_azulnegro, .jqx-tooltip-main-dit_jq_azulnegro
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.jqx-grid-column-sortascbutton-dit_jq_azulnegro, .jqx-expander-arrow-bottom-dit_jq_azulnegro, .jqx-window-collapse-button-dit_jq_azulnegro, .jqx-menu-item-arrow-up-dit_jq_azulnegro, .jqx-menu-item-arrow-top-up-dit_jq_azulnegro, .jqx-icon-arrow-up-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-up-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-dit_jq_azulnegro, .jqx-icon-arrow-up-selected-dit_jq_azulnegro.jqx-expander-arrow-expanded-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-grid-column-menubutton-dit_jq_azulnegro, .jqx-grid-column-sortdescbutton-dit_jq_azulnegro, .jqx-expander-arrow-top-dit_jq_azulnegro, .jqx-window-collapse-button-collapsed-dit_jq_azulnegro, .jqx-menu-item-arrow-down-dit_jq_azulnegro, .jqx-menu-item-arrow-down-dit_jq_azulnegro, .jqx-tree-item-arrow-expand-dit_jq_azulnegro, .jqx-grid-group-expand-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-group-expand-dit_jq_azulnegro, .jqx-icon-arrow-down-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-down-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-dit_jq_azulnegro, .jqx-icon-arrow-down-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-tabs-arrow-left-dit_jq_azulnegro, .jqx-menu-item-arrow-top-left-dit_jq_azulnegro, .jqx-grid-group-collapse-rtl-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-group-collapse-rtl-dit_jq_azulnegro, .jqx-icon-arrow-left-dit_jq_azulnegro, .jqx-icon-arrow-down-left-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-left-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-menu-vertical-dit_jq_azulnegro
{
  background: #252526;
}
.jqx-menu-item-arrow-left-selected-dit_jq_azulnegro, .jqx-icon-arrow-left-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-dit_jq_azulnegro, .jqx-menu-item-arrow-top-right-dit_jq_azulnegro, .jqx-menu-item-arrow-collapse-dit_jq_azulnegro, .jqx-grid-group-collapse-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-group-collapse-dit_jq_azulnegro, .jqx-icon-arrow-right-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-icon-arrow-right-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-dit_jq_azulnegro, .jqx-icon-arrow-right-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-window-close-button-dit_jq_azulnegro, .jqx-tabs-close-button-dit_jq_azulnegro, .icon-close-dit_jq_azulnegro
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-dit_jq_azulnegro
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-dit_jq_azulnegro
{
  background-image: url('images/close_white.png');
}
.jqx-widget-dit_jq_azulnegro .jqx-grid-column-header-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-cell-dit_jq_azulnegro, .jqx-widget-dit_jq_azulnegro .jqx-grid-group-cell-dit_jq_azulnegro, .jqx-grid-cell-dit_jq_azulnegro
{
  border-color: #35353A;
}
.jqx-checkbox-check-checked-dit_jq_azulnegro
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-dit_jq_azulnegro
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-dit_jq_azulnegro, .jqx-tooltip-main-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
}
.jqx-combobox-content-dit_jq_azulnegro, .jqx-input-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #252526;
}
.jqx-combobox-input-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
}
.jqx-input-content-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  background-color: #252526;
}
.jqx-fill-state-focus-dit_jq_azulnegro, .jqx-popup-dit_jq_azulnegro .jqx-fill-state-focus-dit_jq_azulnegro
{
  border-color: #315496;
}
.jqx-popup-dit_jq_azulnegro.jqx-listbox-dit_jq_azulnegro, .jqx-popup-dit_jq_azulnegro.jqx-calendar-dit_jq_azulnegro,.jqx-menu-dropdown-dit_jq_azulnegro,  .jqx-popup-dit_jq_azulnegro.jqx-dropdownbutton-popup-dit_jq_azulnegro
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #252526;
}
.jqx-menu-item-arrow-right-dit_jq_azulnegro, .jqx-tree-item-arrow-collapse-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-left-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tree-item-arrow-expand-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-up-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-left-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-right-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-bottom-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-up-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-left-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-right-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-bottom-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-up-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-left-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-right-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-dit_jq_azulnegro .jqx-icon-arrow-bottom-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-calendar-dit_jq_azulnegro .jqx-icon-arrow-up-dit_jq_azulnegro, .jqx-tabs-header-dit_jq_azulnegro .jqx-icon-arrow-up-dit_jq_azulnegro
{
}
.jqx-calendar-dit_jq_azulnegro .jqx-icon-arrow-left-dit_jq_azulnegro, .jqx-tabs-header-dit_jq_azulnegro .jqx-icon-arrow-left-dit_jq_azulnegro
{
}
.jqx-calendar-dit_jq_azulnegro .jqx-icon-arrow-right-dit_jq_azulnegro, .jqx-tabs-header-dit_jq_azulnegro .jqx-icon-arrow-right-dit_jq_azulnegro
{
}
.jqx-calendar-dit_jq_azulnegro .jqx-icon-arrow-bottom-dit_jq_azulnegro, .jqx-tabs-header-dit_jq_azulnegro .jqx-icon-arrow-bottom-dit_jq_azulnegro
{
}
.jqx-widget-dit_jq_azulnegro .jqx-grid-cell-dit_jq_azulnegro, .jqx-listitem-state-normal-dit_jq_azulnegro, .jqx-menu-item-normal-dit_jq_azulnegro, .jqx-tree-item-normal-dit_jq_azulnegro, .jqx-calendar-cell-dit_jq_azulnegro, .jqx-grid-cell-dit_jq_azulnegro,.jqx-menu-vertical-dit_jq_azulnegro .jqx-menu-item-top-normal-dit_jq_azulnegro, .jqx-input-popup-dit_jq_azulnegro .jqx-fill-state-normal-dit_jq_azulnegro
{
  font-family: Segoe UI;
}
.jqx-widget-dit_jq_azulnegro .jqx-grid-cell-hover-dit_jq_azulnegro, .jqx-listitem-state-hover-dit_jq_azulnegro, .jqx-menu-item-hover-dit_jq_azulnegro, .jqx-tree-item-hover-dit_jq_azulnegro, .jqx-calendar-cell-hover-dit_jq_azulnegro, .jqx-grid-cell-hover-dit_jq_azulnegro,.jqx-menu-vertical-dit_jq_azulnegro .jqx-menu-item-top-hover-dit_jq_azulnegro, .jqx-input-popup-dit_jq_azulnegro .jqx-fill-state-hover-dit_jq_azulnegro,.jqx-input-button-header-dit_jq_azulnegro, .jqx-input-popup-dit_jq_azulnegro .jqx-fill-state-pressed-dit_jq_azulnegro,.jqx-input-button-header-dit_jq_azulnegro
{
  font-family: Segoe UI;
}
.jqx-widget-dit_jq_azulnegro  .jqx-grid-cell-selected-dit_jq_azulnegro, .jqx-listitem-state-selected-dit_jq_azulnegro, .jqx-menu-item-selected-dit_jq_azulnegro, .jqx-tree-item-selected-dit_jq_azulnegro, .jqx-calendar-cell-selected-dit_jq_azulnegro, .jqx-grid-cell-selected-dit_jq_azulnegro,.jqx-menu-vertical-dit_jq_azulnegro .jqx-menu-item-top-selected-dit_jq_azulnegro, .jqx-grid-selectionarea-dit_jq_azulnegro
{
  font-family: Segoe UI;
}
.jqx-icon-calendar-dit_jq_azulnegro
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-dit_jq_azulnegro
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-dit_jq_azulnegro
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-first-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-first-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-last-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-icon-last-hover-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-icon-last-selected-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-dit_jq_azulnegro>.jqx-grid-group-expand-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-hover-dit_jq_azulnegro>.jqx-grid-group-expand-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-selected-dit_jq_azulnegro>.jqx-grid-group-expand-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-dit_jq_azulnegro>.jqx-grid-group-collapse-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-hover-dit_jq_azulnegro>.jqx-grid-group-collapse-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-selected-dit_jq_azulnegro>.jqx-grid-group-collapse-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-dit_jq_azulnegro>.jqx-grid-group-expand-rtl-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-hover-dit_jq_azulnegro>.jqx-grid-group-expand-rtl-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-selected-dit_jq_azulnegro>.jqx-grid-group-expand-rtl-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-dit_jq_azulnegro>.jqx-grid-group-collapse-rtl-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-hover-dit_jq_azulnegro>.jqx-grid-group-collapse-rtl-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-cell-dit_jq_azulnegro.jqx-grid-cell-selected-dit_jq_azulnegro>.jqx-grid-group-collapse-rtl-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-column-menubutton-dit_jq_azulnegro, .jqx-grid-column-sortdescbutton-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-column-sortascbutton-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-delete-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-delete-white.png');
}
.jqx-icon-edit-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-edit-white.png');
}
.jqx-icon-save-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-save-white.png');
}
.jqx-icon-cancel-dit_jq_azulnegro
{
  background-image: url('images/metro-icon-cancel-white.png');
}
.jqx-icon-search-dit_jq_azulnegro
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-dit_jq_azulnegro
{
  background-image: url('images/icon-plus_white.png');
}
