[Desktop Entry]
Type=Application
Exec="~/kalan/src/kprovision.sh kalan --admin admin"
Hidden=false
Terminal=true
Hidden=false
Name=kalan-autostart
Comment[es]=
Comment=
